/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

body {
  background-color: #B5FED9;
}

h1 {
  text-align: center;
  font-family: 'Parisienne', cursive;
}

main {
  background-color: #7BA098;
  width: 80%;
  margin: auto auto 50px auto;
}

p, h2, h3, label {
  color: white;
  font-family: 'Roboto Slab', serif;
  /* margin: 5px; */
  /* padding: 0 5px; */
}

h2 {
  padding-top: 10px;
}

.main-text {
  padding: 0 5px;
  color: white;
}

h3 {
  text-align: right;
  padding: 5px;
  background-color: #474935;
}

form {
  padding: 0 10px;
}

button {
  font-family: 'Roboto Slab', serif;
  margin: 10px auto;
}

.middle {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
}

.group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  /* flex-direction: column; */
}

.item {
  /* flex: 1; */
  /* order: 1; */
}

.item2 {
  order: 1;
  /* width: 40%; */
}

img {
  width: 40%;
  max-width: 150px;
  margin: 1%;
}

@media all and (min-width: 700px) {
  .group {
    display: flex;
  }

  .item2 {
    order: 0;
    /* width: 40%; */
  }
}